* {
    padding: 0;
    margin: 0;
}

/**********  start preload ***********/
.loading-overlay {
    background: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.loader {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 9999;
}

.loader-div {
    width: 100%;
    height: 100%;
    border: 8px solid #000;
    border-radius: 50%;
    border-top: 8px solid #2196f3;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

/**********  End preload ***********/
/**********  Start nav bar ***********/
.navbar {
    height: 65px;
    line-height: 65px;
    padding: 0 30px;
}

.navbar-dark {
    background: transparent;
    text-transform: uppercase;
}

.scrolled {
    transition: 0.5s;
    background: #FFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.scrolled .navbar-brand {
    color: #333;
}

.scrolled .navbar-brand:hover {
    color: #333;
}

.navbar-brand span {
    color: #2196f3;
}

.navbar-dark .navbar-nav .active .nav-link {
    color: #2196f3;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    transition: 0.5s;
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link::before,
.navbar-dark .navbar-nav .active .nav-link::before {
    content: '';
    width: 0;
    position: absolute;
    border-bottom: 4px solid #2196f3;
    bottom: 12px;
    transition: 0.7s all;
    margin: auto;
}

.navbar-dark .navbar-nav .nav-link:hover::before,
.navbar-dark .navbar-nav .active .nav-link::before {
    width: 45px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #2196f3;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: #2196f3;
}

.scrolled .navbar-nav .nav-link {
    color: #333;
    transition: 0.5s;
    font-size: 16px;
}

.scrolled .navbar-nav .nav-link:hover {
    color: #2196f3;
}

.scrolled .navbar-nav .nav-link:focus {
    color: #2196f3;
}

.scrolled .navbar-toggler {
    background: #2196f3;
    color: #FFF;
    ;
}

@media only screen and (max-width: 991px) {
    .navbar-dark .navbar-nav .nav-link {
        font-size: 20px;
        color: #fff;
        margin: 0;
        position: relative;
        padding: 0 0 0 20px;
        line-height: 40px;
    }

    .scrolled .navbar-nav .nav-link {
        font-size: 20px;
        color: #333;
        margin: 0;
        position: relative;
        background: #fff;
        padding: 0 0 0 20px;
        line-height: 40px;
    }

    .navbar-dark .navbar-nav .nav-link:hover::before,
    .navbar-dark .navbar-nav .active .nav-link::before {
        width: 0;
    }

}

/************* End nav bar *******************/
/************  start header bg video *********/
.bgVideo {
    height: 600px;
    width: 100%;
    position: relative;
    color: #FFF;
    background-image: linear-gradient(black, cyan, blue);
}

.bgVideo .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bgVideo .wave {
    width: 100%;
    position: absolute;
    background-image: url(../img/black-graphic-png-png-image-black-graphic-png-950_260.png);
    background-size: cover;
    height: 275px;
}

.bgVideo .title {
    width: 100%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 35%;
}

.bgVideo .title h1 {
    display: block;
    margin-right: 5px;
    font-size: 55px;
    font-weight: 700
}

.bgVideo .title p {
    font-size: 25px;
    font-weight: 100;
}

.bgVideo .typed-cursor {
    opacity: 0;
    font-size: 40px;
}

.bgVideo a {
    position: relative;
    padding: 15px 30px;
    color: #2196f3;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    font-weight: bold;
    font-size: 20px;
    top: 30px;
}

.bgVideo a:hover {
    background: linear-gradient(45deg, #4b00ff, #2196f3);
    color: #FFF;
}

.bgVideo a:hover rect {
    stroke: #fff;
}

.bgVideo a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.09);
}

.bgVideo a svg,
.bgVideo a svg rect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
}

.bgVideo a svg rect {
    stroke-width: 5px;
    stroke: #2196f3;
    stroke-dasharray: 130;
    animation: animate 3s linear infinite;

}

@keyframes animate {
    0% {
        stroke-dashoffset: 400;
    }

    25% {
        stroke-dashoffset: 300;
    }

    50% {
        stroke-dashoffset: 200;
    }

    75% {
        stroke-dashoffset: 100;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@media only screen and (max-width: 500px) {
    .bgVideo .title h1 {
        font-size: 30px;
    }

    .bgVideo .title p {
        font-size: 15px;
    }

    .bgVideo a {
        font-size: 15px;
        padding: 10px;
    }

    .bgVideo a svg rect {
        stroke-width: 3px;
        stroke-dasharray: 90;
    }

    .navbar-brand {
        font-size: 20px;
    }
}

/************  end header bg video *********/
/************  Start About us *********/
.about-us .desc p::before {
    content: "\f00c";
    font-family: FontAwesome;
    color: #2196f3;
    margin-right: 10px;
}

.about-us img {
    width: 100%;
    margin-top: -80px;
}

.about-us .desc h1 {
    color: #545454;
}

.about-us .desc p {
    color: #565656;
}

.about-us .desc button {
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    background: linear-gradient(45deg, #4b00ff, #2196f3);
    font-weight: 500;
    transition: 0.5s ease;
    border: none;
}

.about-us .desc button:hover {
    background: linear-gradient(45deg, #000000, #000000);
}

/************  End About us *********/
/************  Start what we Create *********/
.create {
    padding: 60px 0 60px 0px;
    background-color: #1c222e;
    color: #FFF;
    margin-top: 50px;
}

.create .title p {
    margin-top: 10px;
    font-size: 18px;
    color: #d6d6d6;
}

.create .content {
    position: relative;
    padding: 20px;
    border: 1px solid #2196f3;
    transition: 0.3s;
    box-shadow: 7px 7px 10px 0px #000;
    margin-top: 20px;
}

.create .content:hover {
    margin-top: 10px;
    border-color: #FFF;
    box-shadow: 7px 7px 20px 0px #000;
}

.create .content h3 {
    font-size: 24px;
    font-weight: 500;
    color: #FFF;
}

.create .content p {
    color: #FFF;
    font-size: 16px;
}

.create .content a {
    position: relative;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #FFF;
    display: inline-block;
    color: #fff;
    transition: 0.4s;
    transform: translateY(-40px);
    opacity: 0;
    border-radius: 20px;
}

.create .content:hover a {
    transform: translateY(0);
    opacity: 1;
}

.create .content a:hover {
    color: #fff;
    background: linear-gradient(45deg, #4b00ff, #2196f3);
}

.create .content i {
    border: 1px solid #2196f3;
    border-radius: 50%;
    margin-bottom: 15px;
    background: linear-gradient(45deg, #4b00ff, #2196f3);
    width: 120px;
    height: 120px;
    font-size: 70px;
    line-height: 120px;
}

/************  End what we Create *********/
/************ start portfolio *********/
.protfolio {
    padding: 40px 0 55px 0;
    position: relative;
    background: #f8f8f8;
}

.protfolio ul li {
    list-style: none;
    display: inline-block;
    margin: 20px 10px 20px 0px;
}

.protfolio ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    transition: 0.5s;
    margin-right: 10px;
    font-size: 17px;
    font-weight: 500;
}

.protfolio ul li span {
    color: #2196f3;
    font-size: 20px;
    font-weight: bold;
}

.protfolio ul li a:hover {
    color: #2196f3;
    border-bottom: 1px solid #2196f3;
}

.protfolio ul .active>a {
    color: #2196f3;
    border-bottom: 1px solid #2196f3;
}

.protfolio .projects .element-item {
    padding: 0;
    margin: 0;
}

.protfolio .projects .card {
    height: 220px;
    overflow: hidden;
}

.protfolio .projects .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.protfolio .projects .card .overlay {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
    transition: .2s ease;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    overflow: hidden;
}

.protfolio .projects .card:hover .overlay {
    opacity: 1;
    height: 50%;
    top: 80%;
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        top: 80%;
    }

    25% {
        top: 85%;
    }

    50% {
        top: 80%;
    }

    75% {
        top: 85%;
    }

    100% {
        top: 80%;
    }
}

.protfolio .projects .card .overlay .title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: 1s;
    width: 100%;
    color: #fff;
    text-align: left;
    padding-left: 20px;
}

/************ start portfolio *********/
/************ start sevices *********/
.services {
    padding: 60px 0 60px 0px;
    background-color: #1c222e;
    color: #FFF;
}

.services .content {
    position: relative;
    padding: 20px;
    border: 1px solid #2196f3;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
}

.services .content:hover {
    border-color: #FFF;
    background-color: #FFF;
    color: #333;
}

.services .content h3 {
    font-size: 24px;
    font-weight: 500;
}

.services .content p {
    font-size: 16px;
    margin-top: 25px;
    line-height: 30px;
}

.services .content i {
    border: 1px solid #2196f3;
    width: 120px;
    height: 120px;
    font-size: 70px;
    line-height: 120px;
    border-radius: 50%;
    margin: 15px 0 25px 0;
    background: linear-gradient(45deg, #4b00ff, #2196f3);
}

/************ end sevices *********/
/************ start price *********/
.price {
    background-color: #0f1113;
    padding: 60px 0 80px 0px;
    color: #FFF;
}

.price .price-table {
    overflow: hidden;
    background-color: #FFF;
    box-sizing: border-box;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, .4);
    border-radius: 20px;
    color: #333;
    margin-top: 40px;
}

.price .price-table .price-head {
    padding: 40px;
    background: linear-gradient(45deg, #4b00ff, #2196f3);
    color: #FFF;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.price .price-table .price-head h4 {
    font-weight: 500;
    font-size: 21px;
}

.price .price-table .price-content ul {
    position: relative;
    padding: 20px 0;
}

.price .price-table .price-content ul li {
    list-style: none;
    line-height: 35px;
    font-weight: 600;
    color: #777;
    text-transform: uppercase;
    cursor: pointer;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transition: 0.5s;
}

.price .price-table .price-content ul li:hover {
    border-left: 25px solid #2196f3;
    border-right: 25px solid #2196f3;
}

.price .price-table .price-btn button {
    background: linear-gradient(45deg, #4b00ff, #2196f3);
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 8px 20px;
    border: none;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 500;
}

.price .price-table .price-btn button:hover {
    background: linear-gradient(45deg, #000000, #000000);
    margin-bottom: 25px;
}

/************ End price *********/
/************ start testimonials *********/
.testimonials {
    background: url(../img/10.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: #FFF;
    padding: 40px 0 40px 0;
    z-index: 99;
}

.testimonials .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.testimonials .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.testimonials .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 310px;
    background: #FFF;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, .1), 0px 0px 25px 20px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.testimonials .swiper-slide .item {
    box-shadow: inset 0px 0px 15px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}

.testimonials .swiper-slide .item span {
    color: #3c34fb;
}

.testimonials .swiper-slide .item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.testimonials .swiper-slide .item h3 {
    margin: 8px;
    color: #5a5a5a;
}

.testimonials .swiper-slide .item p {
    color: #020202;
    margin: 10px;
    padding-bottom: 20px;
}

/************ end testimonials *********/
/************ start Contact Us *********/
.contact-us {
    background: #0f1113;
    color: #FFF;
    padding: 40px 0 50px 0;
}

.contact-us .item {
    margin-top: 26px;
}

.contact-us .item:hover i {
    background: linear-gradient(45deg, #4b00ff, #2196f3);
    color: #FFF;
    border: none;
    font-size: 25px;
}

.contact-us .item i {
    width: 55px;
    height: 55px;
    border: 1px solid #2196f3;
    text-align: center;
    line-height: 55px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    color: #2196f3;
    transition: 0.5s;
    font-size: 20px;
}

.contact-us .item h3 {
    margin: 0;
}

.contact-us form input {
    padding: 10px;
    height: 45px;
    border-radius: 0;
    transition: 0.5s;
    margin-top: 20px;
}

.contact-us form input:hover,
.contact-us form input:focus {
    border: 2px solid #2196f3;
}

.contact-us form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
}

.contact-us form button {
    background: linear-gradient(45deg, #4b00ff, #2196f3);
    transition: 0.5s;
    color: #FFF;
    border-radius: 20px;
    margin: auto;
    padding: 7px 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 15px auto;
}

.contact-us form button:hover {
    background: none;
}

/************ End Contact Us *********/
/************start footer *********/
.footer {
    text-align: center;
    background: #1c222e;
    color: #FFF;
    padding: 20px 0;
}

.footer .icons {
    display: inline-block;
}

.footer .icons li {
    list-style: none;
    float: left;
    margin-right: 30px;
    cursor: pointer;
}

.footer .icons li:hover a {
    color: #2196f3;
    font-size: 20px;
}

.footer .icons a {
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
}

.footer .copyright p span {
    color: #2196f3;
    font-weight: 700;
    text-transform: uppercase;
}

/************ End footer *********/
/************ start button scroll up *********/
.topbtn {
    position: fixed;
    bottom: 35px;
    right: 35px;
    font-size: 21px;
    width: 45px;
    height: 45px;
    z-index: 999;
    border-radius: 50%;
    background: linear-gradient(45deg, #4b00ff, #2196f3);
    border: none;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    display: none;
}

.topbtn i {
    line-height: 45px;
}

/************ End button scroll up *********/
/************ start Mutual multi selector *********/
.create .headTitle,
.protfolio .headTitle,
.services headTitle,
.price headTitle,
.testimonials .headTitle,
.contact-us .headTitle {
    width: 100%;
    text-align: center;
}

.create .headTitle h2,
.protfolio .headTitle h2,
.services headTitle h2,
.price headTitle h2,
.testimonials .headTitle h2,
.contact-us .headTitle h2 {
    font-size: 35px;
}

/************ End Mutual multi selector *********/
